{% extends 'dashboard/base.html' %}
{% block content %}
<body style="background-color:#D2B4DE;">


  <div style="margin-left:7cm; margin-top:0.5cm; font-weight:500; " >
    <h1 style="color: #8E44AD; text-align:center; font-weight:700">About</h1>
     <p style="color: #633974; text-align:center; font-size:larger;">The purpose of this web is to display the suggested books of the profile owner.
     The post will contain the book title, the writer,  the genre, and a little bit of information about the book.
     This web is a social reading platform that allows users to post their own suggestions online. 
     The benefits of this web esp to students is to gain more knowledge and improve their writing skills, vocabulary mastery, and speaking skills.</p>
  </div>   
  <div style="margin-left:9.9cm; margin-top:-0.5cm">
    <img src="\media\divider4.gif" alt="divider GIF" height="150px">
  </div>
  <div class="mt-5 p-3 mb-2 fixed-bottom ">
      <h1 style="color: #8E44AD; margin-left:1cm; margin-bottom:-0.1cm; font-weight:700;">Team</h1>
      <p style="margin-left: 1cm; font-weight:500; margin-bottom:-0.3cm; color: #8E44AD;">
        Leader: <a span href="https://www.facebook.com/virline.molera" style=color:#633974;>Virline Mae Molera</a><br>Members:<br><a href="https://www.facebook.com/johannahkatherine.arcoles" style=color:#633974;>Johannah Katherine Arcoles</a><br><a href="https://www.facebook.com/angelyn.cabangon" style=color:#633974;>Angelyn Cabangon</a><br><a href="https://www.facebook.com/paulacerda1615" style=color:#633974;> Paula Alexa Cerda<br><a href="https://www.facebook.com/maray.claudine25" style=color:#633974;>Claudine Maray</a>
      </p>
  </div> 
</body>
{% endblock content %}