{% extends 'dashboard/base.html' %}
{% block content %}
<body style="background-color:#D2B4DE;">

    <div style="margin-left:26.1cm; height:23px; width:200px; margin-top:1.3cm; font-weight:700; ">
       <a style=color:#633974; href="https://www.amazon.com/Youve-Reached-Sam-Dustin-Thao/dp/1250762030/ref=sr_1_1?crid=3G863YGLOY2R5&keywords=you%27ve+reached+sam&qid=1650601290&sprefix=you%27%2Caps%2C390&sr=8-1">You've Reached Sam</a>
    </div>
    <style>
        img {
            border-radius: 14px;
            height: 350px;
            width: 220;
            float: right;
            margin-top: 0.1cm;
            margin-right: -7.3cm;
        }
    </style>
    <img src="media\book1.png" alt="book">
    
    <div style="margin-left:19.7cm; height:24px; width:200px; margin-top:-0.60cm; font-weight:700;">
    <a style=color:#633974; href="https://www.amazon.com/XOXO-Axie-Oh/dp/0063024993/ref=sr_1_1?crid=35EJN1MI4SUSS&keywords=xoxo&qid=1650603288&sprefix=xox%2Caps%2C555&sr=8-1">XOXO</a>
    </div>
    <li style="list-style: none; height:100px; width:80px; margin-left:16cm; margin-top:-1.6cm">
    <img src="media\book2.jpg"></li>

    <div style="margin-left:13cm; margin-top:-1.7cm; font-weight:700;">
        <a style=color:#633974; href="https://www.amazon.com/How-Hack-Heartbreak-Kristin-Rockaway-ebook/dp/B07FTTKN3G">How to Hack a Heartbreak</a>
    </div>
        <li style="list-style: none; height:100px; width:80px; margin-left:9.5cm; margin-top:-1cm;">
        <img src="media\book3.jpg"></li>
<div style="font-weight:600; font-size:2cm; margin-left:-1.7cm; color:#633974;">
    A Haven
</div>
<div style="font-weight:500; font-size:1cm; margin-left:-1.7cm; margin-top:-0.7cm; color:#9B59B6;">
    for Bookworms
</div>
<div style="color: #633974; font-weight:500; margin-left:-1.6cm;">
    “A room without books is like a body without a soul.” — <a style=color:#633974; href="https://www.nationalgeographic.org/encyclopedia/cicero/">Cicero</a>
</div>
<div>
    <img src="\media\purple-book.gif" alt="book" style="margin-top: -5.1cm; float:left; height:5cm; margin-left:5.4cm">
</div>
<div style="color: #633974; font-weight:500; margin-top:3.5cm; float:right; margin-right:-6.8cm">
    Written by : <a href="https://www.dustinthao.com/" style="color: #633974;">Dustin Thao</a>
</div>
<div style="color: #633974; font-weight:500; margin-top:3.5cm; float:right; margin-right:0.2cm">
    Written by : <a href="http://axieoh.com/" style="color: #633974;">Axie Oh</a>
</div>
<div style="color: #633974; font-weight:500; margin-top:3.5cm; float:right; margin-right:1.8cm">
    Written by : <a href="https://www.instagram.com/kristinrockaway/?hl=en" style="color: #633974;">Kristin Rockaway</a>
</div>
<div style="color: #633974; font-weight:700; margin-top:0.5cm">
    Recommend your most loved books, <a href="/post/post/new/" style="color:#633974;">now!</a>
</div>
<div style="float:left; margin-top:-3cm; margin-left:-0.3cm">
    <img src="\media\line.gif"  style="height:6cm;">
</div>
</body>
{% endblock content %}